{% extends 'base.html' %} {% load bootstrap_tags %}{% load static from staticfiles %}  {{ block.super }}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<div class = 'container'>

{% if items_in_cart > 0 %}
<!--if there are cart items then display the table-->

<table class="table">
    <thead>
        <tr>
            <th></th>    
            <th>Product</th>    
            <th>Quantity</th>    
            <th>Price</th>
            <th>Total</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        {% for item in cart_items %}
        <tr>
            <td><img width="150" height="75" src="{{ MEDIA_URL }}{{ item.image}}"/></td>    
            <td>{{ item.name }}</td>    
            <td>{{ item.quantity }}</td>    
            <td>€{{ item.price }}</td>
            <td>€{{ item.total }}</td>
            <td><form method="post" action="{% url 'remove_from_cart'  %}">
                {% csrf_token %}
                <input type="hidden" name="product" value = '{{ item.id }}' />
                <!--this sends item id via form to remove item-->
                <input type="submit" class="btn btn-success" value="Remove"/>
                </form>
            </td>
        </tr>
        {% endfor %}






        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total:</strong></td>
            <td><strong>{{cart_total}}</strong></td>
            <td></td>
        </tr>
    </tbody>
</table>

<a href="{% url 'show_checkout' %}" class="btn btn-success" role="button">Checkout</a>

{% else %}
<h2>You have no items in your cart.</h2>
{% endif %}

</div>

{% endblock %}
