.navbar-form input, .form-inline input {
    width: auto;
}

h1{
    text-shadow: 2px 2px red;
    letter-spacing: 3px;
    font-family: 'Permanent Marker', cursive;

}

body {
    
   font-family: 'Nanum Gothic', sans-serif;
    /*padding-top: 20px;*/
    background-color: #152836;
    color:white;
}

footer {
    /*margin-top: 40px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #D4AF37;
}

header{
    text-align: center;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color:#152836;
    text-align: center;
}

.navbar-default{
   background-color: #152836; 
   border-color:#152836;
}

.nav>li {
    display:inline-block;
    float: none;
    
}

.nav{
    text-align: center;
      display: inline-block;
  float: none;
}

.navbar-default .navbar-nav>li>a {
    color:white;
}

.navbar-default .navbar-nav>li>a {
    font-size: 15px;
}


h3, h1, h1 a {
    color: white;
    text-decoration: none;
}

#masthead {
    padding-left:10px;
    min-height: 199px;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
    margin-top: 50px;
}

#masthead .well{
    margin-top: 31px;
    min-height: 127px;
}

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand{
    padding: 10px 10px;
}

#logo {
    color: #12AB82;
}

.story-img {
    
    display: block;
    
}



a, a:hover {
    color: #223344;
    text-decoration: none;
}

.icon-bar {
    background-color: #fff;
}

.dropdown-menu {
    min-width: 250px;
}

.panel {
    border-color: transparent;
    border-radius: 0;
}

.thumbnail {
    margin-bottom: 25px;
    margin-left: 15px;
}

.img-container {
    overflow: hidden;
    height: 170px;
}

.img-container img {
    min-width: 280px;
    min-height: 180px;
    max-width: 380px;
    max-height: 280px;
}



.txt-container {
    overflow: hidden;
    height: 100px;
}

.panel .lead {
    overflow: hidden;
    height: 90px;
}

.label-float {
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: .9;
    padding: 6px;
    color: #fff;
}

.boldtext{
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 80px;
    }
}

.img-circle{
    width:100px;
    height: 100px; 
    padding-top: 0px;
}

.profile-page{
    width:300px;
    height: 300px; 
}

/*______________________blog_____________________________*/
.img-blogpost{
    height:350px;
    width: auto;
  
}

.post_content{
    font-size: 20px;
}
/*home page*/

.signup, .col-sm-6{
    text-align: center;
    
}

a{
   color: white;
}

input{
    color:black;
}

#cart{
    float: right;
    color:white;
    margin-top: 40px;
}




#chair{
    width:100%;
    height:600px;
    background:cover;
 
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url("static/images/tattoo_chair.jpg");
    margin-bottom: 60px;
}

/*icon bar*/


.icon-bar {
  position: fixed;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.home {
  background: #3B5998;
  color: white;
}

.cart {
  background: #55ACEE;
  color: white;
  
}

.profile {
  background: #dd4b39;
  color: white;
}

.logout{
  background: #007bb5;
  color: white;
}

.login {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

/*-------------------------------*/

h3{
    font-family: 'Permanent Marker', cursive;
}

#video{
    padding-top: 40px;
    
    filter:invert(1);
}

#dragon{
    padding-top: 40px;
    padding-left:40px;
    /*padding-right: 20px;*/
    width:100%;
    height:500px;
    text-align: center;
    
}
    
@media only screen and (max-width: 1000px) {
    #dragon{
       
            display: none;
        
    }
    
}

/*background wallpaper prints*/
#bg2{
    
    
    background-position: top;
    background-attachment: fixed;
}

/*prints*/

.thumbnail{
    margin-left: 40px;
    margin-right: 40px;
    height:330px;
}

#print{
    text-align: center;
}

.print {
    padding: 20px;
    border: 10px solid #D4AF37;
    color: #D4AF37;
    background-color: black;
}

#home{
    position: fixed;
    top:40px;
    left:10px;
    color:white;
}

/* Centered text homepage*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.text-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  
  padding-left: 20px;
  padding-right: 20px;
}

#prints{
    margin-bottom: 30px;
}

#product_name{
    color:black;
}

.comment-img{
  width:30px;
  height: 30px;
  border-radius:50%;
  
}

#review{
    text-align: left;
}

.row .text {
    text-align: center;
}

span{
    vertical-align: middle;
}

.container, form{
    margin-bottom: 20px;
}

.bottom_line{
    margin-bottom: 40px;
}

.fa-shopping-cart{
  float: right;
  color:white;
}