
body{
  background-color: #152836;
  color:white;
}

.white {
  color:white;
}


h2{color:#fff;margin-bottom:40px;text-align:center;font-weight:100;}

.demo-gallery > post {
  margin-bottom: 0;
}
.demo-gallery > post > div {
    
    margin-bottom: 15px;
   
    width: 200px;
}
.demo-gallery > post > div a { 
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  
}
.demo-gallery > post > div a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 200px;
  width: 100%;
}
.demo-gallery > post > div a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}


.home .demo-gallery {
  padding-bottom: 80px; 
}

.img-blogpost{
    height:350px;
    width: auto;
  
}

.img-circle{
    width:100px;
    height: 100px; 
    padding-top: 0px;
    border-radius: 50%;
}

.far{
  size: x2;
}

.comment-img{
  width:30px;
  height: 30px;
  border-radius:50%;
  
}

hr{
  background-color:  #D4AF37;
  color: #D4AF37;
  height: 7px;
  border: none;
  width:100%;
}

.img-blogpost{

    
    padding: 20px;
    border: 10px solid #D4AF37;
    color: #D4AF37;

}

.fa-shopping-cart{
  float: right;
  color:white;
}

