{% extends "base.html" %} {% block content %}
<div class='row'>
    <div class="col-sm-6 ">
        <div class="thumbnail">
            <img src="{{MEDIA_URL}}{{product.image}}" alt="">

        </div>
        <div class="col-sm-6 ">
            <div class="caption">
                
                <h3>{{product.name}}
                </h3>
                <h4>Price: €{{product.price}}</h4>
                <p>Brand: {{product.artist}}</p>

                <p>{{product.description | linebreaksbr }}</p>
                <p><span class="boldtext">Stock:</span> {{ product.stock}} </p>
                <p><span class="boldtext">SKU:</span> {{ product.sku }}</p>
                
                 <form method="POST" action="{% url 'add_to_cart'  %}">
                     {% csrf_token %}
                                    <input type="number" name="quantity" value="1"/>
                                    <input class="btn btn-primary" type="submit" value="Add to cart"/>
                                </form>
                                
                <a href="{% url 'make_review' product.id %}" class="btn btn-primary" value="Add Review">Add Review</a>
                
                
                
                  
                                    
                                    
                                

                                




            </div>
        </div>
    </div>
</div>
 {% for review in product.reviews.all %}
<div class = 'row'>
    <div class="col-md-10 col-sm-9">
                <h3>{{ review.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ review.content|truncatewords:30 }}</p>
                        <!--gives first few words of post-->
                        
                        <p><span class="boldtext">Published on:</span> {{ review.created_date }} </p>
                    
                    </div>
                </div>
            </div>
            <hr>
        
    </div>

{% endfor %}








{% endblock content %}