{% extends 'base.html' %} {% load static from staticfiles %}  {{ block.super }}
<!--keeps block inherited from in base.html and adds new line below referring to blog/css-->
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}"> {% endblock %} {% block content %} 

{% for post in posts %}
<div class="row">
    <div class="col-md-2 col-sm-3 text-center">
        <a class="story-img" href="#">
                {% if post.author.artist %}
                <img src="{{MEDIA_URL}}{{post.author.artist.image}}" class="img-circle" class="img-circle">
                {% elif post.author.lover %}
                <img src="{{MEDIA_URL}}{{post.author.lover.image}}" class="img-circle" class="img-circle">
                
                {% else %}
                <img src="{% static 'admin/admin.jpeg' %}" class="img-circle" class="img-circle">
                {% endif %}
                
            </a>
        <p><span class="boldtext">Author:</span> {{ post.author.username }}</p>
    </div>
    <div class="col-md-6 col-sm-9">
        <h3>{{ post.title }}</h3>
        {% if post.image %}
        <img class='img-blogpost' src="{{MEDIA_URL}}{{post.image}}"></img>
        {% endif %}
        
    </div>
        
            <div class="col-md-4 col-sm-12 ">
                <div class = 'row'>
                    <h1>&nbsp</h1>
                    </div>
                <p>{{ post.content|truncatewords:30 }}</p>
                <!--gives first few words of post-->
                <p><a href="{% url 'read_post' post.id %}" class=" btn btn-sm btn-outline-warning"><b> . . . . .</b></a></p>
                <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                <p><span class="boldtext">Views:</span> {{ post.views }}</p>
                <p><span class="boldtext">Tag:</span> history</p>
                
            </div>
       
    
    <hr>
</div>
{% endfor %} {% endblock %}
