{% extends 'base.html' %} {% load static from staticfiles %} {% block head_styles %} {{ block.super }}
<!--keeps block inherited from in base.html and adds new line below referring to blog/css-->
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}"> {% endblock %} {% block content %} 

{% for artist in artists %}
<div class="row">
    <div class="col-md-2 col-sm-3 text-center">
        <a class="story-img" href="#">
                {% artist.user %}
                {% artist.image %}
               
                
            </a>
        <p><span class="boldtext">Salon:</span> {{ artist.salon}}</p>
    </div>
   
        
            <div class="col-md-4 col-sm-12 ">
                <div class = 'row'>
                    <h1>&nbsp</h1>
                    </div>
                <p>{{ artist.bio|truncatewords:30 }}</p>
                <!--gives first few words of post-->
                <p><a href="" class=" btn btn-sm btn-outline-warning"><b> . . . . .</b></a></p>
                
                <p><span class="boldtext">Views:</span> {{ artist.views }}</p>
                
                
            </div>
       
    
    <hr>
</div>
{% endfor %} {% endblock %}
