{% extends "base.html" %} {% load bootstrap_tags %}{% block content %}

<header class = 'row'>
  <div class = 'col-sm-12'>
<h1>Meet the Artists</h1>
</div>
</header>

<div class="row">
  {% for artist in artists %}
   <div class="column">
<div class="card" >
  <img class="card-img-top" src="{{MEDIA_URL}}{{artist.image}}" alt="Card image cap" style='width:100%'>
  <div class="card-body">
    <h5 class="card-title">{{artist.name}}</h5>
    <p class="card-text"><b>Salon</b>{{artist.salon}}.</p>
    <p id = 'bio'>{{artist.Bio|truncatewords:17}}</p>
    <p><b>Location: </b>{{artist.city}}</p>
    <a href="{% url 'artist_detail' artist.id %}" class="btn btn-primary">Profile</a>
  </div>
</div>
</div>
  {% endfor %}

  
  </div>
  
  {% endblock %}