{% extends "base.html" %}
{% load static from staticfiles %}

{% block head_styles %}
{{ block.super }}
<!--keeps block inherited from in base.html and adds new line below referring to blog/css-->
 <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-3 text-center">
            <a class="story-img" href="#">
                {% if post.author.artist %}
                <img src="{{MEDIA_URL}}{{post.author.artist.image}}" class="img-circle" class="img-circle">
              
                {% elif post.author.lover %}
                <img src="{{MEDIA_URL}}{{post.author.lover.image}}" class="img-circle" class="img-circle">
                 {% else %}
                <img src="{% static 'media/admin.jpeg' %}" class="img-circle" class="img-circle">
                 {% endif %}
                
            </a>
            <p><span class="boldtext">Author:</span> {{ post.author.username }}</p>
        </div>
        <div class="col-sm-9 col-md-12 col-lg-9">
            <h3>{{ post.title }}</h3>
            
            {% if post.image %}
            <img src="{{MEDIA_URL}}{{post.image}}" class = 'img-blogpost' ></img>
            {% endif %}
            <div class = 'row'>&nbsp</div>
            <p class = 'post_content'>{{ post.content}}</p>
            
            <div class="row">
                <div class="col-xs-9 col-md-12">
                    <p>{{ post. | linebreaksbr }}</p>
                    <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{ post.views }}</p>
                    <p><span class="boldtext">Tag:</span> {{post.tag}}</p>

                    <a href="{% url 'get_all_posts' %}" class="btn btn-default">Back to Gallery</a>
                    
                    
                   {% if can_edit %}
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-default">Edit Post</a>
                   {% endif %} 
                   
                   {% if perms.blog.can_publish %}
                    <a href="{% url 'publish_post' post.id %}"class="btn btn-default">Publish Post</a>
                   {% endif %} 
                </div>
            </div>
        </div>
    </div>
{% endblock %}