 {% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>LightGallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
     <link rel="shortcut icon" href="{% static 'favicon.ico/heart.ico' %}">
    <link href="https://cdn.jsdelivr.net/lightgallery/1.3.9/css/lightgallery.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


</head>

<body class="home">

    <div class="container" style="margin-top:40px;">

        <a href="{% url 'get_index' %}"><i class="fas fa-arrow-left white fa-2x"></i></a>
        <a href="{% url 'view_cart' %}"><i  id = 'postcart' class="fa fa-shopping-cart fa-2x"></i></a>

        <h1>Tattoo Gallery</h1>

        <div class="demo-gallery">

            <post id="lightgallery" class="row">
                {% for post in posts %} {% if post.image %}

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" data-sub-html="<h4>Tattoo Image</h4>">
                    <a href="{% url 'read_post' post.id %}">
                      
                            <img id="img-responsive" src="{{MEDIA_URL}}{{post.image}}" >
                            </a>
                            </div>
                            
                         {% endif %}
                

                {% endfor %}
            </post>


        </div>
    </div>

    <footer>
     
            <div id='footer' class='row'>

                <div class='col-xs-12 col-md-4'>
                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                </div>


                <div class='fb-like col-xs-12 col-md-4'>

                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>


                <div class='fb-like col-xs-12 col-md-4'>
                    <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
                </div>
            </div>
    

    
        </div>
    </footer>
    
             <div id='black-spacer' class='row'>
        <div class=col-sm-12>
            <p>Copyright 2019</p>
        </div>
    </div>
    


</body>

</html>
 