{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/artist_list.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

    


</head>
<body>
    
<div class = 'container'>
    <body id="bg" style="background-image: url('{% static "images/wallpaper.jpeg"%}')";>
     <div class="container" style=" margin-bottom:60px">

<h1>Meet the Artists</h1>

<br>

<div class="row">
     {% for artist in artists %}
  <div class="column">
    <div class="card">
       
      <img id = 'artist' src="{{MEDIA_URL}}{{artist.image}}" alt="Jane" style="width:100%">
      <div class="container">
        <h2>{{artist.name}}</h2>
        <p class="title"><b>Salon</b>{{artist.salon}}</p>
        <p>{{artist.Bio|truncatewords:30}}</p>
        <p><b>Location: </b>{{artist.city}}</p>
        <a href="{% url 'artist_detail' artist.id %}"><p><button class="button">Profile</button></p></a>
      </div>
    </div>
  </div>
  {% endfor %}

  
  </div>
  
  </div>


</body>
</html>
