{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tattoo Project</title>

    {% block head_style %}
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
  
    <link rel="stylesheet" href="https://bootswatch.com/3/sandstone/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    


    {% endblock head_style %}
    
    {% block head_js %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    
    {% endblock head_js %}
</head>
<body>
    
   
    <div class = 'row'>
        <div class = 'col-sm-12'>
            <h1>&nbsp</h1>
        </div>
    </div>
    
    <header class = 'row'>
        <div class = 'col-sm-12 text-align-center'>
            <h1>The Tattoo Project</h1>
        </div>
    </header>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="{% url 'get_index' %}"> Home</a></li>
                    {% if user.is_authenticated %}
                  
                        <li><a href="{% url 'read_profile' %}"><i class="fa fa-user"></i> Profile</a></li>
                        
                
                        <li><a href="{% url 'add_post' %}"><i class="fa fa-plus"></i> Share your Art</a></li>
                   
              
                     
                        
                         
                  
                    {%  else %}
                    
                     
                                          
                        <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Log In</a></li>
                    {% endif %}
                    
                    <li><a href="{% url 'trial_artists' %}"> Tattooists</a></li> 
                    <li><a href="{% url 'product_list' %}"> Prints</a></li>
                    <li><a href="{% url 'view_test' %}"> Tattoos</a></li>
                    
                    {% if user.is_authenticated %}
                     <li><a href="{% url 'view_cart' %}"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                     {% if items_in_cart > 0 %}
                        <label class="badge badge-light">{{items_in_cart}}</label>
                        {% endif %}
                     <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
                     {% else %}
                     <li><a href="{% url 'get_signup' %}"><i class="fas fa-user-plus"></i>Signup</a></li>
                    {% endif %}
                    
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
   
  
        {% block content %} {% endblock %}
        
        
  
    <footer>
        
            <div id = 'footer' class = 'row'>
                <div class = 'col-xs-4 col-md-4'>
    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
        </div>
        <div class = 'col-xs-4 col-md-4'>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class = 'col-xs-4 col-md-4'>
            <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
        </div>
         </div>
        
    </footer>
    <div id = 'black-spacer' class = 'row'>
        <div class = col-sm-12>
            <p>Copyright 2019</p>
    </div>
    </div>
</body>
</html>