{% extends "base.html" %} {% block content %}



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">




            
            
             
     
           
              
<div id = 'chair' class="container1">
  <img src="static/images/tattoo_chair.jpg" alt="TATTOO_CHAIR" style="width:100%; height:500px;">
  <div class="text-block"> 
    <h2>WHERE ARTIST MEETS ADDICT </h2>
    
  </div>
</div>


  {% if user.is_authenticated %}
  
 <div class = 'row'>
     <h1>&nbsp</h1>
 </div>

{% else %}

<div id = 'button' class ='row'>
    <div class ='col-sm-12'>
<!-- Button trigger modal -->
<button  type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
  <h5>SIGNUP <i class="fas fa-user-plus"></i></h5>
</button>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Signup</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <a href="{% url 'register_artist' %}"><button type="button" class="btn btn-primary btn-lg">Artist</button></a>
        <a href="{% url 'register_lover' %}"><button type="button" class="btn btn-primary btn-lg pull-right">Addict</button></a>
        
      </div>
      
    </div>
  </div>
</div>



 {% endif %}           
              
              
              
              

  
   
       
          
          <div class = 'container3'>
              
              
              <div>
        <div class = 'article'>
             <div class = 'row'>
                 <div class = 'col-sm-12'>
                     <h1 id = 'article_heading'>ABOUT INKSPIRATIONAL</h1>
                 </div>
             </div>
             <div class = 'row'>
                 <h4 class = 'col-sm-12'>Bringing Tattoo lovers directly to the source.</h4> 
             </div>
             </div>
             
             <article class = 'row'>
                 <div class = 'col-sm-12 col-md-6'>
                     <p class = 'article'> This website is designed as a destination for creatives to stop by, express themselves and share ideas.</p>  
                     <h2>Artists</h2>
               
                     <h4>
                     Tattooist starting out on your feet or work independently? Upload your prints and your most recent designs to get your work noticed. Create a profile to advertise yourself and expand your clientbase.</h4>
                 </div>
                 <div class = 'col-sm-12 col-md-6'>
                     <img class = 'back-tattoo' src="static/images/head-holding-tattoo.jpeg" alt = 'back tattoo'></img>
                 </div>
</div>



  
 
 
      
</div>

   <div class="bgimg-1">

</div>
 




  
<div id="bgimg-2">
</div>

   
   <article class = 'row'>
                 <div class = 'col-sm-12 col-md-6'>
                     <img class = 'back-tattoo' src="static/images/dark-image.jpeg" alt = 'dark image'></img>
                 </div>
                 <div class = 'col-sm-12 col-md-6'>
                     <p class = 'article'><h2>Addicts</h2><h4>Looking for some inkspiration?  With artsists from all over Ireland displaying their handywork here, you can be sure to find one that suits your personal style.</h4> </p>
                     <p><h4>Upload images of your own most recent Ink. Or, if you're not quite ready to go under the needle, take a look at some of the prints for sale in our print gallery.   </h4> </p>
                 </div>
             </article>
              
              
              
  </div>
</div>
<div id="bgimg-3">
  
</div>

<div class = 'row'>
    <div class = 'txt-overlay col-sm-6 col-md-3'>
        <img class = 'block-image' src="static/images/body_tat_artist.jpeg" alt = 'face tattoo'></img>
         <div class="centered"><li><a href="{% url 'add_post' %}"><button type="button" class="btn btn-outline-dark btn-sm"><h2>Upload your Ink</h2></button></a></li></div>
    </div>
    <div class = 'txt-overlay col-sm-6 col-md-3'>
        <img class = 'block-image'src="static/images/print.jpeg" alt = 'print of lady'></img>
         <div class="centered"> <li><a href="{% url 'product_list' %}"> <button type="button" class="btn btn-outline-dark btn-sm"><h2>Prints</h2></button></a></li></div>
    </div>
    <div class = 'txt-overlay col-sm-6 col-md-3'>
        <img class = 'block-image'src="static/images/hand-tattoo.jpg" alt = 'hand tattoo'></img>
         <div class="centered"><li><a href="{% url 'view_test' %}"><button type="button" class="btn btn-outline-dark btn-sm"><h2>Inkspiration</h2></button></a></li></div>
   </div>
    <div class = 'txt-overlay col-sm-6 col-md-3'>
        <img class = 'block-image'src="static/images/tattoo-gun.jpeg" alt = 'tattoo-gun'></img>
         <div class="centered"><li><a href="{% url 'trial_artists' %}"><button type="button" class="btn btn-outline-dark btn-sm"><h2>Tattooists</h2></button></a></li></div>
    </div>
</div>
</div>
<div  id = 'dark-row' style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      
      
      {% if user.is_authenticated %}
      
      <div class = 'row'>
          <div class = 'col-sm-12'>
              <h2>Feeling squeamish? Buy a print instead!  </h2><h2><a id = 'subtitle' href="{% url 'product_list' %}"> Prints</a></h2>
          </div>
      </div>
      
      {% else %}
<div  class = 'row'>
<div class = 'col-sm-6 '>
           
<h3> <a class = 'signup' href="{% url 'register_artist' %}"> Artists  <i class="fas fa-user-plus"></i></a></h3>
<h4><p>Upload your details, reach international clients and sell your artwork</p></h4>
</div> 
          <div class = 'col-sm-6'>
           
               <h3><a class = 'signup' href="{% url 'register_lover' %}">Addicts  <i class="fas fa-user-plus"></i></a></h3>
             <h4>  <p>Browse local and international tattooists </p></h4>
       </div>
       </div>
       
       {% endif %}
  </div>
</div>

<div id="bgimg-1">
  
</div>


          
          
         

 <div class = 'container'>
          
    <div  class = 'row'>
        <div id = 'video' class = 'col-xs-12 col-md-8'>
            

    
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/mthCj-WDLuw?start=28&autoplay=1&rel=0&showinfo=0&mute=1&loop=1&playlist=mthCj-WDLuw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <div   class = 'col-sm-0 col-md-4 '>
            <img id = 'dragon' src="static/images/dragon.png"></img>
        </div>
    </div>
    
    </div>














{% endblock content %}