{% extends "base.html" %} {% block content %}



<div class = 'container'>
    <div class = 'row'>
        <header class = 'col s12'>
            <h1>The Tattoo Project</h1>
        </header>
    </div>
    <div class = 'row'>
        <div class = 'col s12'>
            
            <h3><i class="fa fa-user-plus">Sign up for a free account</i></h3>
             </div>
              </div>
                 <div class = 'row'>
        <div class = 'col-s6'>
           <button type="button" class="btn btn-warning">
           <a href="{% url 'register_artist' %}">I'm an Artist </a></button>
          </div> 
          <div class = 'col-s6'>
           <button type="button" class="btn btn-info"><a href="{% url 'register_lover' %}">I'm an Addict</button>
       </div>
   
</div>
</div>









{% endblock content %}