{% extends "base.html" %} {% block content %}

<div class="container portfolio">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h1></h1>
            </div>
        </div>
    </div>
    <div class="bio-info">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bio-image">
                            {% if request.user.artist %}
                            <img class='img-circle profile-page'  src="{{ MEDIA_URL}}{{ request.user.artist.image }}" /> 
                            {% elif request.user.lover %}
                            <img class='img-circle profile-page' src="{{ MEDIA_URL}}{{ request.user.lover.image }}" /> 
                           
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bio-content">
                    {% if request.user.artist %}
                    <h1>Artist : {{request.user.artist.user}}</h1>
                    {% else %}
                    <h1>Addict : {{request.user.lover.user}}</h1>
                    {% endif %} 
                    
                    {% if request.user.artist %}
                    <h4>Salon: {{request.user.artist.salon}}</h4>
                    <p>{{request.user.artist.Bio}}</p>

                    {% endif %}
                    
                      {% if request.user.post %}
                    <p>POSTS:
                    <img src="{{MEDIA_URL}}{{post.author.user.image}}" class="img-circle">
                    </p>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
